.fl-item {
    --animation-speed: 0.5s;

    display: flex;
    align-items: center;
    gap: 8px;
    position: fixed;
    z-index: 5000;
    padding: 8px 12px;
    overflow: hidden;
    outline: 1px solid;  /* outline-color with js */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    opacity: 1;
    transition: var(--animation-speed);
}
.fl-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
}

@keyframes fl-from-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fl-from-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
/* Left flash animation */
.fl-item[class$="left"][data-animation="1"] {
    animation: fl-from-left var(--animation-speed);
    animation-fill-mode: both;
}
/* Right flash animation */
.fl-item[class$="right"][data-animation="1"] {
    animation: fl-from-right var(--animation-speed);
    animation-fill-mode: both;
}
